@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow-x: hidden;
}

#nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

}

#nav img {
    height: 80px;
    width: 200px;
}

#nav i {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

/* --------------------menu------------- */
#menu {
    height: 100vh;
    background-color: #fff;
    width: 300px;
    position: absolute;
    top: 0;
    right: 0px;
    padding: 2rem;
    z-index: 10;
}

#menu i {
    font-size: 25px;
    cursor: pointer;
}

#menu ul {
    font-size: 1.5rem;
    list-style: none;
    color: #B7031E;
}

#menu ul li {
    margin: 2rem;
    backdrop-filter: blur(5px);
    cursor: pointer;
}

/* ---------------------hero-------------- */

#hero {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

#hero h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #B7031E;
    position: relative;
    animation: fade-up 1s ease-in;
}

@keyframes fade-up {
    from {
        opacity: 0;
        top: -30px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

#hero img {
    height: 80%;
    position: relative;
    animation: bounce 1s ease-in infinite alternate;
}

@keyframes bounce {
    0% {
        top: 0;
    }

    100% {
        top: 20px;
    }
}


/* ------------------page1-------------- */

#page1,
#page2 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 3rem;
    background-color: #E3E4E4;
    flex-wrap: wrap;
}

#page1 img {
    height: 90%;
}

#page1 #diet-coke {
    flex-basis: 50%;
    height: 70%;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    overflow-y: scroll;
}

#page1 #diet-coke h2,
#page2 #normal-coke h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;
    color: #000;
}

#page1 #diet-coke p,
#page2 #normal-coke p {
    font-size: 1.5rem;
    color: #B7031E;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}


/* ---------------------------page2---------------- */

#page2 {
    background-color: #000;
    gap: 1rem;
    justify-content: center;
}


#page2 #normal-coke {
    color: #fff;
    height: 60%;
    padding: 0 2rem;
    margin-left: 2rem;
}

#page2 #normal-coke h2 {
    color: #B7031E;
}

#page2 img {
    height: 40%;
}

/* ---------------------media query--------------- */

@media screen and (max-width: 1081px) {
    body {
        overflow-x: hidden;
    }

    #hero h1 {
        font-size: 2rem;
    }

    #hero img {
        height: 70%;
    }

    #page1 img {
        height: 70%;
    }

    /* #page2 {
        justify-content: center;
    } */

    /* #page2 img {
        height: 40%;
    } */

}

@media screen and (max-width: 900px) {
    #page1 img {
        height: 60%;
    }

    #page2 #normal-coke {
        height: 40%;
        overflow-y: scroll;

    }
}

@media screen and (max-width: 650px) {
    body {
        overflow-x: hidden;
    }

    #hero h1 {
        font-size: 1.5rem;
    }

    #hero img {
        height: 60%;
    }

    #page1,
    #page2 {
        padding: 0;
    }

    #page1 img {
        height: 40%;
    }

    #page1 #diet-coke {
        height: 50%;
        width: 100%;
    }

    #page1 #diet-coke h2,
    #page2 #normal-coke h2 {
        font-size: 2rem;
    }

    #page1 #diet-coke p,
    #page2 #normal-coke p {
        font-size: 1rem;
    }

    #page2 img {
        height: 30%;

    }
}

@media screen and (max-width: 444px) {
    #hero h1 {
        text-align: center;
    }

    #page1 {
        justify-content: center;
    }
}